.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  padding: 0;
  overflow: hidden;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.formHeading {
  margin-bottom: 1rem;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  width: 100%;
  color: #333;
  padding: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

.formSubContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  max-width: 900px;
  padding: 0 1.5rem;
}

.formGroup {
  width: calc(50% - 0.7rem);
  margin: 0.5rem 0;
}

.formLabel {
  font-size: 0.875rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 0.5rem;
  display: block;
}

.formInput {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.formInput:focus {
  border-color: #4b0406;
  box-shadow: 0 0 0 2px rgba(75, 4, 6, 0.1);
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-top: 1rem;
  padding: 1.25rem 1.5rem;
  border-top: 1px solid #eaeaea;
}

.formButton {
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 100px;
  max-width: 150px;
  flex: 1;
}

.submitButton {
  background: transparent;
  color: #555;
  border: 1px solid #a82b30;
}

.submitButton:hover {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.cancelButton {
  background: transparent;
  border: 1px solid #a82b30;
  color: #555;
}

.cancelButton:hover {
  background: linear-gradient(90deg, #4b0406, #6b0f12, #a82b30);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.message {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  width: calc(100% - 3rem);
}

.successMessage {
  background-color: rgba(76, 175, 80, 0.1);
  color: #2e7d32;
  border: 1px solid #2e7d32;
}

.errorMessage {
  background-color: rgba(244, 67, 54, 0.1);
  color: #d32f2f;
  border: 1px solid #d32f2f;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .formGroup {
    width: 100%;
  }

  .modalContent {
    max-width: 95%;
    margin: 0 10px;
  }
}
